<%= form_with(model: @weight_configuration, class: 'form') do |f| %>
  <div class='input-wrapper'>
    <%= f.label :minimum_weight, 'Peso mínimo:' %>
    <%= f.number_field :minimum_weight, placeholder: 'Peso em gramas' %>
  </div>
  <div class='input-wrapper'>
    <%= f.label :maximum_weight, 'Peso máximo:' %>
    <%= f.number_field :maximum_weight, placeholder: 'Peso em gramas' %>
  </div>
  <div class='input-wrapper'>
    <%= f.label :price, 'Preço:' %>
    <%= f.number_field :price, placeholder: 'R$', value: (@weight_configuration.price ? @weight_configuration.price/100 : '') %>
  </div>
  <div class='input-wrapper'>
    <%= f.label :shipping_type_id, 'Modalidade de transporte:' %>
    <%= f.select :shipping_type_id, WeightConfiguration.shipping_types_for_select %><br>
  </div>
  <div>
    <br><%= f.submit 'Salvar' %>
  </div>
<% end %>