<div class='session'>
  <section class="page-layout">
    <h2>Inscreva-se</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.text_field :name, autofocus: true, placeholder: 'Nome' %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '@sistemadefrete.com.br' %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Senha' %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirme sua senha' %>
        </div>
        <div class="buttons">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
      <div class="buttons singup">
      <%= render "devise/shared/links" %>
      </div>
      </form>
    </section>
  </div>

