<%= form_with(model: @shipping_type, class: 'form') do |f| %>
  <div class='input-wrapper'>
    <%= f.label :name, 'Nome:' %>
    <%= f.text_field :name %>
  </div>
    <div class='input-wrapper'>
    <%= f.label :minimum_distance, 'Distância mínima:' %>
    <%= f.number_field :minimum_distance, placeholder: 'Distância em kilômetros' %>
  </div>
    <div class='input-wrapper'>
    <%= f.label :maximum_distance, 'Distância máxima:' %>
    <%= f.number_field :maximum_distance, placeholder: 'Distância em kilômetros' %>
  </div>
    <div class='input-wrapper'>
    <%= f.label :minimum_weight, 'Peso mínimo:' %>
    <%= f.number_field :minimum_weight, placeholder: 'Peso em gramas' %>
  </div>
    <div class='input-wrapper'>
    <%= f.label :maximum_weight, 'Peso máximo:' %>
    <%= f.number_field :maximum_weight, placeholder: 'Peso em gramas' %>
  </div>
  <div class='input-wrapper'>
    <%= f.label :fee, 'Taxa:' %>
    <%= f.number_field :fee, placeholder: 'R$', value: (@shipping_type.fee ? @shipping_type.fee/100 : '') %>
  </div>
    <div class='input-wrapper'>
    <%= f.label :active, 'Ativada:' %>
    <%= f.check_box :active %>
  </div>
  <div>
    <br><%= f.submit 'Salvar' %>
  </div>

<% end %>