<section id="shipping_types">
<h2>Modalidades de Transporte</h2>
<% if current_user.admin? %>
  <%= link_to 'Adicionar nova modalidade de transporte', new_shipping_type_path %>
<% end %>
<div>
<% @shipping_types.each do |s| %>
  <div>
    <h3><%= link_to(s.name, shipping_type_path(s.id)) %> </h3>
      <dl>
        <dt>Distância mínima: <%= s.minimum_distance %>km</dt>
        <dt>Distância máxima: <%= s.maximum_distance %>km
        <dt>Peso mínimo: <%= s.minimum_weight/100 %>kg
        <dt>Peso máximo: <%= s.maximum_weight/100 %>kg
        <dt>Taxa: <%= number_to_currency(s.fee/100.to_f) %>
        <dt>Ativada: <%= I18n.translate(s.active.to_s) %></dt>
      <dl>
    </div>  
<% end %>
</div>

<% if @shipping_types.empty? %>
  <p> Não existem modalidades de serviço cadastradas. </p>
<% end %>
</section>

