<h2>Modalidade de transporte: <%= @shipping_type.name %> </h2>
<div>
  <strong>Distância mínima: </strong><%= @shipping_type.minimum_distance %>km<br>
  <strong>Distância máxima: </strong><%= @shipping_type.maximum_distance %>km<br>
  <strong>Peso mínimo: </strong><%= @shipping_type.minimum_weight %>g<br>
  <strong>Peso máximo: </strong><%= @shipping_type.maximum_weight %>g<br>
  <strong>Taxa: </strong><%= @shipping_type.fee %> <br>
</div>

<%= link_to('Editar', edit_shipping_type_path(@shipping_type.id)) %><br><br>
<%= link_to('Voltar', shipping_types_path) %>
