<section class='page-layout'>
<h2>Modalidade de transporte: <%= @shipping_type.name %> </h2>
<div class='page-title-two-buttons'>
  <%= link_to 'Voltar', shipping_types_path, class: 'button' %>
  <% if current_user.admin? %>
    <%= link_to 'Editar', edit_shipping_type_path(@shipping_type.id), class: 'button' %>
  <% end %>
</div>
<div>
  <strong>Distância mínima: </strong><%= @shipping_type.minimum_distance %>km<br>
  <strong>Distância máxima: </strong><%= @shipping_type.maximum_distance %>km<br>
  <strong>Peso mínimo: </strong><%= @shipping_type.minimum_weight/100 %>kg<br>
  <strong>Peso máximo: </strong><%= @shipping_type.maximum_weight/100 %>kg<br>
  <strong>Taxa: </strong><%= number_to_currency(@shipping_type.fee/100) %> <br>
  <strong>Ativada: </strong><%= I18n.translate(@shipping_type.active.to_s) %> <br>
</div>
</section>

