<br><%= flash[:notice] %>
<% if(@work_order.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @work_order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<h2>Editar ordem de serviço <%= @work_order.code %> </h2>
<%= render 'form' %><br>
<%= link_to 'Voltar', root_path %>