<section id="work_orders">
<h2>Ordens de Serviço</h2>
<div class='page-title'>
  <% if current_user.admin? %>
    <%= link_to 'Adicionar nova ordem de serviço', new_work_order_path, class:'link', class: 'button' %><br>
  <% end %>
  <%= link_to 'Mostrar ordens de serviço pendentes', pending_work_orders_path, class: 'button' %><br>
</div>
<% @work_orders.each do |w| %>
  <div>
    <h3>Código: <%= link_to(w.code, work_order_path(w.id)) %> </h3>
      <dl>
        <dt>Endereço de saída: <%= w.pickup_address %></dt>
        <dt>Endereço de entrega: <%= w.delivery_address%></dt>
        <dt>Código do produto: <%= w.product_code %>
        <dt>Status: <%= I18n.translate(w.status) %> </dt>
      <dl>
  </div>  
<% end %>

<% if @work_orders.empty? %>
  <p> Não existem ordens de serviço cadastradas. </p>
<% end %>
</section>

