<section class='page-layout table'>
<h2>Ordem de Serviço: <%= @work_order.code %> </h2>
<div class='page-title-two-buttons'>
  <%= link_to 'Voltar', work_orders_path, class: 'button' %>
  <% if @work_order.status == 'pending' %>
    <%= link_to('Editar', edit_work_order_path(@work_order.id), class: 'button') %>
  <% end %>
</div>
<div class="list-item">
  <dl>
    <dt>Endereço de saída: <%= @work_order.pickup_address %></dt>
    <dt>Endereço de entrega: <%= @work_order.delivery_address %></dt>
    <dt>Distância: <%= @work_order.distance %>km</dt>
    <dt>Peso do produto: <%= @work_order.product_weight/100.to_f%>kg</dt>
    <dt>Código do produto: <%= @work_order.product_code %> </dt>
    <dt>Status: <%= I18n.translate(@work_order.status) %></dt>

  <% if @work_order.status == 'on_the_way' %>
    <dt>Veículo: <%= @work_order.vehicle.license_plate.upcase %> </dt>
    <dt>Prazo:  <%= I18n.localize(@work_order.date)%></dt>
    <dt>Data de início: <%= I18n.localize(@work_order.start_date) %></dt>
  <% end %>

  <% if @work_order.status == 'delivered' %>
    <dt>Veículo: <%= @work_order.vehicle.license_plate.upcase %></dt>
    <dt>Prazo:  <%= I18n.localize(@work_order.date)%></dt>
    <dt>Data de início: <%= I18n.localize(@work_order.start_date) %></dt>
    <dt>Data de finalização: <%= I18n.localize(@work_order.end_date) %></dt>
  <% end %>

  <% if @work_order.shipping_type %>
    <dt>Modalidade de transporte: <%= @work_order.shipping_type.name %> - <%= number_to_currency(@work_order.price) %></dt>
  </div>
    <% if @work_order.status == 'pending' %>
    <%= button_to('Iniciar ordem de serviço', work_order_start_path(@work_order.id), method: :post) %>
    <% end %>
    <% if @work_order.status == 'on_the_way' %>
    <%= button_to('Finalizar ordem de serviço', work_order_end_path(@work_order.id), method: :post) %>
    <% end %>
  <% end %>
  </dl>

<% if @work_order.status == 'pending' %>
  <h3>Modalidades de transporte disponíveis:</h3>
  <% @available_shipping_types.each do |s| %>
    <table>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th></th>
      </tr>
      <tr>
        <td><%= s.name %></td>
        <td><%= number_to_currency(s.calculate_price(@work_order.distance, @work_order.product_weight)) %></td>
        <td><%= button_to('Selecionar', work_order_select_shipping_type_path(@work_order.id, shipping_type_id:s.id), method: :post) %></td>
      </tr>
    </table>
    <% end %>
<% end %>
<% if @work_order.status == 'late' %>
  Justificativa de atraso: <%= @work_order.delay_cause %><br>
<% end %>

<% if @available_shipping_types.empty? %>
  <p> Não existem modalidades de transporte disponíveis para atender esta ordem de serviço. </p>
<% end %>

</section>




