<section class='page-layout'>
<h2>Ordem de Serviço: <%= @work_order.code %> </h2>
<div class='page-title-two-buttons'>
  <%= link_to 'Voltar', work_orders_path, class: 'button' %>
  <% if @work_order.status == 'pending' %>
    <%= link_to('Editar', edit_work_order_path(@work_order.id), class: 'button') %>
  <% end %>
</div>
<div>
  <strong>Endereço de saída: </strong><%= @work_order.pickup_address %><br>
  <strong>Endereço de entrega: </strong><%= @work_order.delivery_address %><br>
  <strong>Distância: </strong><%= @work_order.distance %>km<br>
  <strong>Peso do produto: </strong><%= @work_order.product_weight/100.to_f%>kg<br>
  <strong>Código do produto: </strong><%= @work_order.product_code %> <br>
  <strong>Status: </strong><%= I18n.translate(@work_order.status) %><br>

  <% if @work_order.status == 'on_the_way' %>
    <strong>Veículo: </strong><%= @work_order.vehicle.license_plate.upcase %> <br>
    <strong>Prazo: </strong> <%= I18n.localize(@work_order.date)%><br>
    <strong>Data de início: </strong><%= I18n.localize(@work_order.start_date) %><br>
  <% end %>

  <% if @work_order.status == 'delivered' %>
    <strong>Veículo: </strong><%= @work_order.vehicle.license_plate.upcase %><br>
    <strong>Prazo: </strong> <%= I18n.localize(@work_order.date)%><br>
    <strong>Data de início: </strong><%= I18n.localize(@work_order.start_date) %><br>
    <strong>Data de finalização: </strong><%= I18n.localize(@work_order.end_date) %><br>
  <% end %>

  <% if @work_order.shipping_type %>
    <strong>Modalidade de transporte:</strong> <%= @work_order.shipping_type.name %> - <%= number_to_currency(@work_order.price) %><br>
    <% if @work_order.status == 'pending' %>
    <%= button_to('Iniciar ordem de serviço', work_order_start_path(@work_order.id), method: :post) %>
    <% end %>
    <% if @work_order.status == 'on_the_way' %>
    <%= button_to('Finalizar ordem de serviço', work_order_end_path(@work_order.id), method: :post) %>
    <% end %>
  <% end %>
</div>

<% if @work_order.status == 'pending' %>
  <h3>Modalidades de transporte disponíveis:</h3>
  <% @available_shipping_types.each do |s| %>
    <table>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th></th>
      </tr>
      <tr>
        <td><%= s.name %></td>
        <td><%= number_to_currency(s.calculate_price(@work_order.distance, @work_order.product_weight)) %></td>
        <td><%= button_to('Selecionar', work_order_select_shipping_type_path(@work_order.id, shipping_type_id:s.id), method: :post) %></td>
      </tr>
    </table>
    <% end %>
<% end %>
<% if @work_order.status == 'late' %>
  <strong>Justificativa de atraso: </strong><%= @work_order.delay_cause %><br>
<% end %>

<% if @available_shipping_types.empty? %>
  <p> Não existem modalidades de transporte disponíveis para atender esta ordem de serviço. </p>
<% end %>

</section>




