<h2>Configurações de prazo</h2>
<%= link_to 'Adicionar nova configuração', new_delivery_time_configuration_path %>

<% if @delivery_time_configurations.empty? %>
  <p> Não existem configurações cadastradas. </p>
<% end %>

<p>Tabela de prazos</p>
<table>
  <tr>
    <th>Intervalo de distância</th>
    <th>Prazo</th>
    <th>Modalidade de transporte</th>
  </tr>
  <% @delivery_time_configurations.each do |d| %>
    <tr>
      <td><%= d.minimum_distance %> a <%= d.maximum_distance %>km</td>
      <td><%= d.delivery_time %>h</td>
      <td><%= d.shipping_type.name %></td>
    </tr>
  <% end %>
</table>
