<!DOCTYPE html>
<html>
  <head>
    <title>Deliveryapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
  <header>
  <h1>Sistema de Fretes</h1>
   <nav>
      <% if user_signed_in? %>
        <%= link_to 'Ordens de Serviço', work_orders_path %> |
        <%= link_to 'Modalidades de Transporte', shipping_types_path %> |
        <%= link_to 'Veículos', vehicles_path %> |
        <%= link_to 'Configurações', configurations_path %> |
        <%= current_user.description %>
        <br> <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to 'Log in', new_user_session_path %>
      <% end %>
      <%= form_with(url: search_work_orders_path, method: :get) do |f| %>
        <%= f.label :query, 'Buscar ordem de serviço' %>
        <%= f.text_field :query %>
        <%= f.submit 'Buscar' %>
      <% end %>
      </nav>
  </header>
  <main>
    <%= alert %>
    <%= notice %>

  </main>
    <%= yield %>
  </body>
</html>
